<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/mailsuccess.css' />
</head>

<body>
  <div class="main_wrap">
    <section class="section1">
      <img src="https://qring.s3.ap-northeast-2.amazonaws.com/qring-banner.png" class="qring-img" />
    </section>
    <section class="section2">
      <div class="checkout-wrap" style="text-align: center;">
        <img class="check-img" src="https://qring.s3.ap-northeast-2.amazonaws.com/qring_check.png" /><br>
        <span class="qring-main-checkout">출석이 완료되었습니다</span><br><br>
        <span class="qring-under-checkout">모임이 종료되었다면 아래 버튼을 눌러서<br>
          피드백을 작성해주세요.</span><br><br>
        <div class="qring-button" OnClick="location.href ='http://localhost:3000/qrcode/feedback/<%=result._id%>'">피드백
          작성하기</div>
        <div class="under-title-checkout">도움이 필요하신가요? <span style="color:#ff6600;">contact@qring.co</span> 로 연락주세요</div>
      </div>
    </section>
    <section class="section3">
      <div style="text-align: center;">
        <div class="qring-title">
          14-14, Yanghwa-ro 16-gil, Mapo-gu, Seoul, Republic of Korea
        </div>
        <img src="https://qring.s3.ap-northeast-2.amazonaws.com/qring_logo.png" class="qring-under-img" />
      </div>
    </section>


  </div>
  <!-- <div class="wrap" style="text-align:center;padding:40px 32px;
  width:574px;height:980px;border:1px solid black;">
    <div class="hrhr" style="margin-top: 40px;
    width: 574px;
    background-color: rgb(184, 184, 184);
    height: 1px;
    border: none;" />
    <div style="margin-top:80px; width: 404px;
    height: 108px;
    font-family: NotoSansCJKkr;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.72px;
    text-align: left;
    color: #202020;">
      회원가입을 마치려면<br>
      이메일 인증을 완료해주세요
    </div>
    <div style="margin-top:60px; width: 323px;
    height: 29px;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: -0.4px;
    text-align: left;
    color: #36383b;">
      큐링 회원가입을 진심으로 축하드립니다.
    </div>
    <div style="margin-top:12px;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: -0.4px;
    text-align: left;
    color: #36383b;">
      아래 버튼을 누르면 <span style="font-weight:bolder;"></span> 이메일로 가입한 계정이<br>
      활성화됩니다.
    </div>
    <div style="
    margin-top:80px;
    width: 576px;
    text-align:center;
    height: 24px;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.32px;
    text-align: center;
    color: #36383b;">
      도움이 필요하신가요? contact@qring.co 로 연락주세요
    </div>
    <div class="hrhr" style="margin-top: 60px;
    width: 574px;
    background-color: rgb(184, 184, 184);
    height: 1px;
    border: none;" />
    <div style="
    margin-top:40px;
    width: 576px;
    text-align:center;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.28px;
    text-align: center;
    color: #36383b;">
      14-14, Yanghwa-ro 16-gil, Mapo-gu, Seoul, Republic of Korea
    </div>
    <img style="margin-top: 50px;" src="https://qring.s3.ap-northeast-2.amazonaws.com/qring_logo.png" width="70px" />
  </div> -->
</body>

</html>